.aa{
// background-color:#D9F9E1;
 height: 100vh;

}

.new-account {
  position: absolute;
  top: 40px;
  right: 2px;
}

.sign-up-form {
  padding: 10px;
  align-items: center;
  border-radius: 25px;
  height: 600px !important;
  background-color: #f6f5f3;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.sign-up-button {
  border: 0px;
  background-color: #deb615;
  color: #f6f5f3;
  -webkit-border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin: 0 10%;
  margin-top: 30px 0;
}


.user-account {
    position: absolute;
    bottom: 145px;
    left: 45px;
    font-family: 'PT Sans', sans-serif;
    a {
      text-decoration: none;
      color: #3d3d3f;
    }
}

.title {
  h2 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #02686B;
    padding: 0 30px 30px;
  }
}

.form-inputs {
  label {
    color: #3d3d3f;
    font-family: 'PT Sans', sans-serif;
  }
}

input {
	opacity: 0.5;
  border-radius: 3px;
}


//span.errspan{
//float: right;
//top: 36px;
//right:15px;
//position:relative;
//z-index:2;
//color: #3d3d3f !important;
//font-size: 30px;
//}

