.aa{
 background-color:#D9F9E1;
 width : 100%;

}
.form{
	background-color :#F5EEF5;
	max-width: 450px;
	margin: 15px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	align-items: center;
	margin-bottom: 50px;
  	border-radius: 25px;
	}
// .btn {
// 	background: #52B86A;
// 	color: white;
// 	width:100%;
// }
input{
	opacity: 0.7;
	color: #80B38C;

}
.title{
	text-align: center;

	color: #3B5A3B;
}
.title p{
font-family: PT Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 32px;

}
.title i{
	font-size: 60px;
	 margin: 10px;
}


input::placeholder {
  color: #80B38C;

  font-size: 15px;
}

span.errspan{
float: right;
top: 36px;
right:15px;
position:relative;
z-index:2;
color: #80B38C !important;
font-size: 30px;
}

