<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('Herbs.jpg')%>);">
  <div class="banner-content">
    <h1>GrowGarden</h1>
    <p>We will take care of your plants</p>
    <div class="container center">
      <div class="row">
        <div class="col-xs-12 search-bar-padding">
        <%= form_tag plants_path, method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class:  "form-inline placeholder transparent-search-bar",
              placeholder: "What do you want to grow?"
          %><button  name="button" type="submit">Grow</button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
