<div class="banner-top">
  <div class="banner-content">
    <div class="banner-center">
      <h1>Grow Garden</h1>
      <p>Get remainers and notification that will help you grow your plants easly</p>
      <div class="form-inline search-bar">
        <%= form_tag plants_path, method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "input",
              placeholder: "What do you want to grow?" %>
              <%= submit_tag 'Search', class: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


