<div class="col-xs-12 col-sm-6 category-card">
  <%= link_to category_path(category) do %>
  <div class="card-description-info">
  	<div class="card-img" style="background-image: url(<%= image_path(category.name + '.jpg') %>)"></div>
    <div class="card-description">
      <h2><%= category.name %></h2>
      <p><%= category.description.truncate(66, omission: '... (Read More)') %></p>
    </div>
  </div>
  <% end %>
</div>
