
<% @gardens.each do |g| %>
<ul>

     <li>Plant - <%= g.plant.name %></li>
     <li>Todays Temperature - <%= g.status_today.daily_temp %></li>
     <li>Todays Sunlight - <%= g.status_today.daily_light %></li>
     <li>Next Watering - <%= g.water_on %></li>

</ul>
<% end  %>
