<%= content_for :mailer_title do %>
You are a new plant parent
<% end %>

<%= content_for :header_greeting do %>
!!!You are a new plant parent
<% end %>

<%= content_for :header_headline do %>
!!!We will help you grow your plant easily
<% end %>

<tr>
  <td>
    <h3 style="color: #1D446E; font-family: Helvetica; font-weight: 100; font-size: 24px; line-height: 18px;margin:0;padding:5px 0;">
      You are almost ready to start applying for rooms.
    </h3>
    <hr style="width:60px;margin-left: 0;border:1px solid #cae6e9;"/>
  </td>
</tr>
<tr>
  <td>
    <p style="color: #66757F; font-family: Helvetica; font-weight: 100; font-size: 16px; line-height: 22px;">
      Before applying for a room, we kindly invite you to complete your contact details on your personalised dashboard. These data will help us to pre-fill your application and contract for a room.
    </p>
    <p  style="color: #66757F; font-family: Helvetica; font-weight: 100; font-size: 16px; line-height: 22px;">
      If you have any question or remark, we gladly invite you to contact Kirstin (German, English and French) or Christophe (Dutch, English and French).
    </p>
    <p style="color: #66757F; font-family: Helvetica; font-weight: 100; font-size: 16px; line-height: 22px;">Looking forward to meet you!</p>
  </td>
</tr>
