<%= content_for :mailer_title do %>
congrats for your new plant
<% end %>

<%= content_for :header_greeting do %>
Congratulations you are a new plant parent
<% end %>

<tr>
  <td>
    <h3 style="color: #1D446E; font-family: Helvetica; font-weight: 100; font-size: 24px; line-height: 18px;margin:0;padding:5px 0;">
      You are almost ready to start applying for rooms.
    </h3>
    <hr style="width:60px;margin-left: 0;border:1px solid #cae6e9;"/>
  </td>
</tr>
<tr>
  <td>
    <p style="color: #66757F; font-family: Helvetica; font-weight: 100; font-size: 16px; line-height: 22px;">Looking forward to meet you!</p>
  </td>
</tr>
