<%= content_for :mailer_title do %>
Welcome to Grow Garden!
<% end %>

<%= content_for :header_greeting do %>
Welcome to Grow Garden!
<% end %>

<%= content_for :header_headline do %>
We will help you grow your plant easily
<% end %>

<tr>
  <td>
    <h3 style="color: #1D446E; font-family: Helvetica; font-weight: 100; font-size: 24px; line-height: 18px;margin:0;padding:5px 0;">
      You are new ready to seed your plants!
    </h3>
    <hr style="width:60px;margin-left: 0;border:1px solid #438E93;"/>
  </td>
</tr>
<tr>
  <td>
    <p style="color: #66757F; font-family: Helvetica; font-weight: 100; font-size: 16px; line-height: 22px;">
     Grow Garden is a premuim app that takes care of your plants by sending you remainders with the your plants needs (water, temperature, light etc.)"
    </p>
    <p  style="color: #66757F; font-family: Helvetica; font-weight: 100; font-size: 16px; line-height: 22px;">
      If you have any question or remark, we gladly invite you to contact out team (Hebrew, English and French).
    </p>
    <p style="color: #66757F; font-family: Helvetica; font-weight: 100; font-size: 16px; line-height: 22px;">Looking forward to hear from you!</p>
  </td>
</tr>
