<h1>Species#show</h1>

<% @plants.each do |plant| %>
  <%= link_to "#{plant.name}",  "categories/:category_id/species/:species_id/plants/:id" %>
<%end %>
 <!-- /categories/:category_id/species/:species_id/plants/:id -->
 <br>

