
//@import 'show';
@import 'plant_show';

.plant-index{
  margin-top: 0 !important;
  margin: 15px 0px;
}

.card-product {
  overflow: hidden;
  height: 100%;
  width: 350px;
  background: #f6f5f3;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  display: flex;
  align-items: center;
  margin-left: -18px;
}

.plant-img{
  height: 134px;
  background-size: cover;
  background-position: center;
  width: 120px;
}

.card-product a {
  color: #87aa85;
}
.card-product a:active{
  text-decoration: none;
  border: none;
}

.card-product h3 {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Reem Kufi', sans-serif;

  text-transform: capitalize;
  letter-spacing: 2px;
}

.card-product p {
  font-size: 14px;
  color: #563f4d;
  font-family: 'Amaranth', sans-serif;
  text-decoration:none;
}

.card-product .card-product-infos {
  padding: 16px;
}

.sorry{
  margin: 50px;
  margin-top: 145px;
  h1 {
    font-size: 90px;
  }
}
.sorry h3{
  color: $green;
}
.top {
  display:flex;
  align-items: center;
  justify-content: center;
}

