
@import 'show';
.plant-index{
  margin-top: 0 !important;
  margin: 15px 0px;
}

.card-product {
  overflow: hidden;
  height: 100%;
  background: #f6f5f3;
  box-shadow: 0px 0px 3px 2px #e4e4e4;
  margin-top: 22px;
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.card-product img {
  height: 120px;
  width: 19vh;

}

.card-product h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product-infos p {
  font-size: 15px;
  color: #3d3d3f;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.sorry{
  margin: 50px;
  margin-top: 145px;
}
.sorry h3{
  color: $green;
}
.top {
  display:flex;
  align-items: center;
  justify-content: center;
}

