//.form-location {
//  margin: 12px 0 0 27px;
//}
.header-location {
  font-size: 27px;
}

.form-location {
  margin-top: 32px;
  -webkit-border-radius: 3px;
  font-family: 'PT Sans', sans-serif;
  form {
    display: flex;
    margin: 0 10px;
    padding: 12px;
  }
}


.form-location input[type="text"] {
  border: 0px;
  padding: 10px 10px;
  -webkit-border-radius: 3px;
}


.form-location input::placeholder {
  color:  #3d3d3f;
  font-size: 15px;
  font-weight: lighter;
}

input#garden_plant_location {
    width: 260px;
}

.form-location input[type="submit"] {
  border: 0px;
  background-color: #F8C600;
  color: #f6f5f3;
  padding: 10px;
  -webkit-border-radius: 5px;
  cursor:pointer;
}

.btn-go{
  height: 40px;
  width: 62px;
  text-align: center;
  margin-left: 5px;
}
.note{
  opacity: 1;
  transition: 0.7s opacity;
  text-align: center;
  padding: 12%;
}

.fade-in {
  color:#0A7D81;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  font-size: 16px;
}



@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

