#plant-banner {
  background-image: asset-url('apple_icon.png');
  background-size: cover;
  height: 400px;
}
.container {
  display: flex;
}

.description-card {
  span {
    p:first-child {
      display: none;
    }
  }
}

.mobile-icons {
  display: flex;
}



@media only screen and (min-width: 768px) {
  .mobile-icons {
    display: block;
  }
  .description-card {
    display: flex;
    align-items: center;
    span {
      margin: 10px;
      p:first-child {
        display: block;
      }
    }
    p {
      margin: 0;
    }
  }
}
