//My Garden Header
.header-garden {
  text-align: center;
  font-size: 38px;
  color: #3d3d3f;
  font-family: 'Reem Kufi', sans-serif;
  text-transform: uppercase;
  word-spacing: 2px;
  margin: 92px auto 35px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.header-garden:after {
  display: block;
  height: 3px;
  background-color: #c99cb8;
  content:  " ";
  width: 180px;
  margin: 0 auto;
  margin-top: 12px;
}




.card-space {
  .col-xs-6 {
  padding-bottom: 2.5px;
  padding-right: 5.5px;
  padding-left: 5.5px;
  }
}


.centered {
  display: flex;
  justify-content: space-evenly;
}

.full-card {
  height: 176px;
  position: relative;
  box-shadow: 0px 0px 3px 2px #e4e4e4;
  margin-bottom: 10px;
  width: 170px;
  border-radius: 3px;
  img {
  width: 100%;
  height: 95px;
  position: relative;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  }
  .darker {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.3;
    width: 100%;
    height: 95px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

  }
}

.plant-infos {
  position: relative;
  .plant-name {
    position: absolute;
    left: 6px;
    font-size: 14px;
    color: #FFF;
    font-weight:bold;
    bottom: -9px;
    font-family: 'Reem Kufi', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;

  }
}


.statuses {
  position: absolute;

  .status {
    line-height: 10px;
    font-family: 'Reem Kufi', sans-serif;
    position: relative;
    top: 15px;
    left: 10px;
    font-size: 14px;
  }
  .watering {
    margin: 10px;
    line-height: 10px;
  }
}

.date {
  position:2 absolute;
  bottom: 10px;
  left: 10px;
}


.buttons-garden {
  font-size: 10px;
  position: relative;
  top: 44px;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.smaller-btn{
    width: 62px;
    height: 24px;
    font-size: 14px;
    position: absolute;
    left: 68px;
    bottom: -5px;
  a {
    text-decoration: none;
    color: white;
    position: relative;
    bottom:10px;
    right:4px;
  }
}
#icon-trash {
  top: 11px;
  a {
    height: 40px;
    width: 40px;
  }
  img {

    height: 27px;
    width: 23px;
    position: relative;
    top: 5px;
    left: 140px !important;
  }
}

