.watering-head {
    font-size: 44px;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 9px;
    color: #0A7D81;
    margin-top: 90px;
    margin-left: 20px;
}

.water-btn {

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10px;
  text-decoration: none!important;
}

.watering-plant {
background-color: #FFFF99;
margin-right: 30px;

list-style-type: none;


}