<h1><% @species.name %></h1>
<%if @plants.empty? %>
	<%= link_to "Sorry :( Try again" , categories_path %>
	
 <% else  %>
	<% @plants.each do |plant| %>
	<div class="card-product">
  <img src="<%= image_path('Herbs.jpg')%>">
  <div class="card-product-infos">
    <h2><%= plant.name %></h2>
    <p><%= plant.description %> <strong>relevant info</strong> only.</p>
  </div>
</div>

	
	<%end %>
 <%end %>



<a href="javascript:history.back()" >back</a>



