<tr bgcolor="#1F2231" style="background-color:rgb(31, 34, 49);">
  <td style="padding: 30px;">
    <h4 style="color: #A7B5BF; font-family: Helvetica; font-weight: bold; font-size: 16px; line-height: 22px;">- The Grow Garden Team</h4>
      <p style="color: #66757F; font-family: Helvetica; font-weight: 100; font-size: 16px; line-height: 22px;">
        <% if content_for? :footer_content %>
          <%= yield :footer_content %>
        <% else %>
        Built at Le Wagon TLV
        <% end %>
      </p>
  </td>
</tr>
