
<tr>
  <td>
    <%= image_tag attachments["logo-icon.png"].url, { align: "center", class: "fix", width: "70", height: "70", border: "0", alt: "The logo of Grow Garden", style: "display: block;margin-left:auto;margin-right:auto;" } %>
  </td>
</tr>
