<h1>Adding a new plant</h1>

<%= simple_form_for @garden_plant, url: :plant_garden_plants, method: :post do |f| %>
  <%= f.input :status, placeholder: "maybe dead?" %>
  <%= f.input :location, placeholder: "inside or out?" %>
  <%= f.submit "submit", class: "btn btn-flat" %>
<% end %>
<br>
<a href="javascript:history.back()" >back</a>
