
<div class="container">
<div class="watering-head">
  <h1>My Garden</h1>
  <p>You should water these plants today:</p>
</div>
  <div class="row">
    <div class="col-sm">
  <% @plants.each do |plant| %>
  <% if plant.status_today.watered_on.nil? %>
    <div class="watering-flex">
    <h5><%= plant.name%></h5>
    <%= link_to "Water Me", water_plant_path(plant), method: :post, class: "btn btn-default water-btn" %>
    </div>

    <% else %>
      <em>Watered</em>
    <% end %>
  <% end %>
  </div>
  </div>
</div>
