/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 62px 0;
  text-align: center;
  color: #f6f5f3;
  font-family: 'PT Sans', sans-serif;

}
.alert-info {
  background: #55babe;
}
.alert-warning {
  background: $red;
}
