.banner-top {
  background: url('/assets/background.png');
  background-size: cover !important;
  height: calc(100vh - 30px);
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  flex-direction: column;
  display: flex;
}

.banner-content {
  max-height: 556px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content h1 {
  font-size: 44px;
font-family: 'Reem Kufi', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 6px;
  margin: 10px 5px;
  color: #f4d2e7;
}

.banner-content p {
  font-size: 20px;
font-family: 'Reem Kufi', sans-serif;
  color:  #c99cb8;
  // opacity: 0.7;
  margin: 40px 15px;
}
.banner-center {
  padding-top: 255px;
}

/* Medua Query for Search Box */

@media only screen and (max-device-width: 480px) {
  .background-img {

    background-size: cover;
    background-position: center;
  }

}
