.banner-top {
  background-size: cover !important;
  height: calc(100vh - 70px);
  text-align: center;
  padding-top: 10vh;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
//  background-color: #FFF;
}

.background-img {
    height: 365px;
    width: 100%;
    display: flex;
    justify-content: center;
  img {
    width: 345px;
    height: 100%;

  }
}

.banner-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content h1 {
  font-size: 44px;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 9px;
  color:#0A7D81;
}

.banner-content p {
  font-size: 18px;
  font-weight: lighter;
  font-family: 'PT Sans', sans-serif;
  color:  #3d3d3f;
  opacity: 0.7;
  margin-bottom: 30px;
}
.banner-center {
  padding-top: 50px;
  margin-bottom: 90px;
}

/* Medua Query for Search Box */

@media only screen and (max-device-width: 480px) {
  .background-img {
//    height: 71vh;
//    padding-top: 23vh;
    background-size: cover;
    background-position: center;
  }

}
