
.bt-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;

}

.bt-flat:hover {
  background: #1BCB7F;
  color: white;
  text-decoration: none;
}

.top{  
 margin-top: 20px;

a {
  text-decoration: none;
}
.btn {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #B5B8BD;
  background-color: white;
  padding: 0px 15px 30px;
}
/*Betton - Sunflower(Yellow)*/

.btn-yellow {
  background-color: #F8C600;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-yellow:hover {
  color: #F8C600;
  background-color: Transparent;
}

.btn-transparent {
  background-color: Transparent;
  padding: 10px 15px;
  color: black;
  font-weight: lighter;
  border-radius: 4px;
  transition: 0.4s;
  border: 1px solid black;
}

.btn-transparent:hover {
  color: white;
  font-weight: lighter;
  background-color: black;

}
