.bt-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;

}

.bt-flat:hover {
  background: #1BCB7F;
  color: white;
  text-decoration: none;
}

.top{  
 margin-top: 20px;
}
