.log-in-form {
  background-color: #f6f5f3;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 10px;
  align-items: center;
  border-radius: 25px;
  height: 550px;
  margin-top: 90px !important;
}


.log-in-button {
  border: 0px;
  background-color: #F8C600;
  color: #f6f5f3;
  -webkit-border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin: 0 10%;
}
.user-registration {
  position: absolute;
  bottom: 33px;
  left: 35px;
  line-height: 29px;
  color: #3d3d3f;
  font-family: 'PT Sans', sans-serif;
  a:hover, a:active {
    text-decoration: none;
    color: #3d3d3f;
    border: none;
  }
  .sign-up, .forgot-password {
    text-decoration: none;
    color: #3d3d3f;
  }
}

.inputs {
  padding: 10px;
}


