.log-in-form {
  margin-top: 90px !important;
}

.log-in-button {
  background-color: #007bff;
  font-weight: bold;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  color: white;

}

.inputs {
  padding: 10px;
}

.sign-up {
  background-color: #E6E6FA;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: black
}

.forgot-password {
  color: black;
  text-decoration: none;
}
