.navbar-top {
  background-color: #f6f5f3;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid transparent;
}

.navbar-item {
  cursor: pointer;
  padding: 0 10px;
  color: #3d3d3f;
  font-size: 14px;
  text-transform: uppercase;
}
.navbar-item:hover, .navbar-item:active {
  color: black;
  padding-bottom: 6px;
  border-bottom: 2px solid #deb615;
  transition: 0.3s;
  text-decoration: none;
}


.navbar-logo {
  margin-left: -10px;
  border: none;
}
  .navbar-logo a:active {
    text-decoration: none;
    border: none;
    color: #3d3d3f;
  }

.nav-search-bar {
  position: absolute;
  left: 21%;
  min-width: 40%;
  input {
    width: 70%;
  }
}


.navbar-links a {
  text-decoration: none;
}
.navbar-links a:hover, a:active {
  color: black;
  padding-bottom: 6px;
  border-bottom: 2px solid #deb615;
  transition: 0.3s;
}


