
.search-bar {
  margin-top: 50px;
  overflow: auto;
  -webkit-border-radius: 3px;
  font-family: 'PT Sans', sans-serif;
}

.search-bar input[type="text"] {
  border: 0px;
  width: 45%;
  padding: 10px 10px;
  -webkit-border-radius: 3px;
}

.search-bar input::placeholder {
  color:  #3d3d3f;
  font-size: 16px;
  font-weight: lighter;
}

.search-bar input[type="submit"] {
  border: 0px;
  background-color: #deb615;
  color: #f6f5f3;
  padding: 10px;
  -webkit-border-radius: 5px;
  cursor:pointer;
  width: 94px;

}

/* Media Query for Search Box */

 @media only screen and (max-device-width: 480px) {
  .search-bar {
    width: 95%;
    margin: 30px 10px 0;
    }
  .search-bar input[type="text"] {
    width: 70%;
  }
  .search-bar input[type="submit"] {
    width: 70px;
  }
}
