<%= render 'components/banner' %>
<div class="container" style= "margin-top:15px">
  <div class="row">
    <% @categories.each do |category| %>
    <%= render 'components/card', category: category %>
    <% end %>
  </div>
</div>
