
<%= render 'components/banner' %>





<div class="container">
  <h2>What Would You Like To Plant?</h2>
  <div class="row">
    <% @categories.each do |category| %>
    <%= render 'components/card', category: category %>
    <% end %>
  </div>
</div>


