<h1>Categories#show</h1>

<%= @category.name %>

<% @species.each do |species| %>
  <%= link_to "#{species.name}",  category_species_path(species), class: "btn btn-success" %>
<% end %>
<br>
<%= link_to "back to categories", categories_path(@category) %>
