<h1>Categories#show</h1>

<h2> <%= @category.name %></h2>
<br>

<% @species.each do |species| %>
  <%= link_to "#{species.name}",  category_species_path(species), class: "btn btn-success" %>
<% end %>
<br>
<a href="javascript:history.back()" >back</a>
